<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<hello name="{{ name }}"></hello>
<h3><i>{{name}}</i></h3>

<p>
  Esta es una pagina SPA
</p>

<h1>Suma de números</h1>

<p> Número 1: <input type="number" [(ngModel)]="num1"></p>
<p> Número 2: <input type="number" [(ngModel)]="num2"></p>
<p> La suma es: {{num1+num2}} </p>

<h2>Listado de productos</h2>
<table class="table table-dark"> 
  <thead> 
      <tr> 
          <th>Nombre </th>
          <th> Precio</th>
          <th> Descripcion</th>
          <th> </th>
          <th> </th>
          <th> </th>
      </tr>


  </thead>
  <tbody>
    <tr *ngFor="let producto of listaProductos">
        <td> {{producto.nombre}}</td>
        <td> {{producto.precio}}</td>
        <td> {{producto.descripcion}}</td>
        <td> <button class="btn btn-info" (click)="compartir()">Compartir
           </button></td>
        <td> <p *ngIf="producto.precio > 700"> 
          <button class="btn btn-warning">Notificarme </button></p></td>
        <td>
          <button class="btn btn-success" (click)="verDetalle(producto)" [class.selected]="producto===productoSeleccionado">Ver detalle

          </button>
           </td>

    </tr>
  </tbody>



</table>

<app-producto-detalle [prod]="productoSeleccionado">


</app-producto-detalle>
